* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilos GENERALES */

body {
  background-color: #E6E6E6;
  font-family: Raleway, sans-serif;
  font-size: 12px;
} 
.contenedorBody {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.bordeLogo {
  margin-top: 25px;
  padding-left: 30px;
}
header {
  margin-bottom: 100px;
  border-bottom: solid 24px #D4D4D4;
  width: 100%;
  height: 200px;
}
.gradienteLineal {
  background-image:linear-gradient(to bottom right, #048BA2, #04BBC6, #04CDD1);
}
nav {
  text-align: center;
  padding-right: 130px;
  padding-top: 100px;
}
nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.125em;
}
.linkPosition {
  display: flex;
  justify-content: flex-end;
}
.linksRedes {
  display: inline-flex;
  position: absolute;
  margin-top: -3px;
}
.linksRedes li {
  padding: 5px;
}




.btn-menu {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  padding-top: 145px;
}
.btn-menu:focus {

}




.marcadorH3 {
  color: white;
  font-size: 0.9375em;
  background-color: #04CDD1;
  display: inline-block;
  padding: 3px;
  transform: rotate(-1.2deg)
}
h4 {
  font-weight: normal;
  padding-top: 4px;
}
.sinSubrayado {
  text-decoration: none;
}
.cajaTexto {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.titulosPrincipales {
  font-style: normal ;
  font-family: Raleway, sans-serif;
  font-weight: bold ;
  font-size: 2.625em;
  padding-bottom: 15px;
}
.parrafosPrincipales {
  font-size: 1.25em;
  line-height: 150%;
  max-width: 100%;
  padding-bottom: 20px;
}
.negrita {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
footer {
  margin-top: 50px;
  border-top: solid 24px #D4D4D4;
  background-color: #04CDD1;
  height: 100px;
}
footer p {
  text-align: center;
  font-size: 0.875em;
  position: relative;
  top: -35px;
}
footer ul {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer ul li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.125em;
  position: relative;
  top: -35px;
}
.nombreDesarrollo {
font-weight: bold;
}
footer ul li a:hover {
  background-color: #6BE0E2;
  transition: .4s;
  padding: 3px;
  text-decoration: none;
  color: black;
}
footer p span {
  cursor: pointer;
}


/* Estilos HOME */

h1 {
  font-weight: bold;
  font-size: 20px;
}


/* Estilos PRODUCTOS */

.tipologiasProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
}
.tipologiasProductos article {
  margin-bottom: 20px;
  width: 40%;
}
.tipologiasProductos article ul {
  background-color: #E1E1E1;
  width: auto;
  margin: 5px 30px 0 0;
  padding: 2px 10px 12px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px  #BEBEBE;
}
.tipologiasProductos article ul li {
  list-style-type: none;
  margin-top: 0.625em;
}
.tipologiasProductos article ul li a {
  text-decoration: none;
}
.marcadorProductos {
  color: black;
  font-weight: bold;
  font-size: 1.25em;
  background-color: #04CDD1;
  display: inline-block;
  padding: 3px;
  transform: rotate(-1.2deg)
}
.marcadorProductos:hover {
  color: white;
  font-size: 1.4375em;
  background-color: #04CDD1;
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  transform: rotate(1.2deg)
}
.tituloTabla {
  font-weight: bold;
  text-indent: 15%;
  padding-top: 15px;
  padding-bottom: 12px;
}
.fondoTabla {
  width: 875px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10%;
  background-image:linear-gradient(to bottom right, #048BA2, #04BBC6, #04CDD1)
}
thead th {
color: white;
}
.listaOrdenadaCirculitos {
  list-style: disc inside;
  width: 300px;
}


/* Estilos VIANDAS */

.titleCarousel {
  font-size: 1.2em;
  color: white;
  padding: 2px;
  background-color: #04CDD1;
  transform: rotate(-.4deg)
}
.sinVinetas {
  list-style-type: none;
}


/* Estilos RABAS */

.videoRabas {
  padding-bottom: 30px;
}
main video {
  max-width: 100%;
  height: auto;
  padding: 0 20px;
}
.titleVideo {
  display: inline-block;
  font-size: 1.2em;
  color: white;
  padding: 2px;
  background-color: #04CDD1;
  transform: rotate(-.4deg)
}



/* Estilos RECETIPS */

.contenedorRecetips {
  width: 900px;
  padding-bottom: 20px;
}
.articulosRecetips {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  flex-wrap: wrap;
}
.articulosRecetips article {
  display: inline-block;
  justify-content: left;
  background-color: #E1E1E1;
  width: 40%;
  margin: 30px 30px 0 0;
  padding: 10px 20px 12px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px  #BEBEBE;
  text-align: justify;
}
.articulosRecetips article p {
  padding-top: 10px;
  font-size: 1em;
  line-height: 160%;
}
.articulosRecetips article ol {
  padding-left: 10px;
  padding-top: 10px;
}
main section article ul {
  padding-top: 10px;
}
main section article ol li {
  padding-top: 10px;
}


/* Estilos CONTACTO */

main iframe {
  max-width: 100%;
}
.checkAlLado {
  padding-left: 40px;
}
.h3Form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginLabel {
  margin-top: 15px;
  font-weight: bold;
}
.marginInput {
  margin-top: 5px ;
  margin-bottom: 20px;
}
.centrado {
  text-align: center;
  }
ul li {
  list-style-type: none;
}




/* MEDIA QUERIES */

/* TABLET */
@media only screen and (max-width: 850px) and (min-width: 130px) {

  body {
    font-size: 14px;
  }
  .bordeLogo {
    position: absolute;
    text-align: center;
    margin-top: 25px;
  }
  .linksRedes li {
    padding: 60px 5px;
  }
  nav ul li a {
    display: none; 
    }
    .linkPosition {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
   }
    .linksRedes {
      display: inline-flex;
      padding-right: 20px;
      position: absolute;
      top: -40px;
    }
    .linksRedes li {
      padding: 60px 5px;
    }
    main img {
      max-width: 100%;
      height: auto;
    }
    .btn-menu {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      padding-right: 70px;
      padding-top: 145px;
    }
    
}

/* DESKTOP AND LAPTOPS */
@media only screen and (min-width : 850px) {
  
  body {
    font-size: 16px;
  }
  .bordeLogo {
    margin-left: 60px;
    margin-top: 25px;
  }
  .linksRedes {
    display: inline-flex;
    padding-right: 80px;
    position: absolute;
    margin-top: 40px;
  }
  .btn-menu {
    display: none;
  }
  main img {
    max-width: 100%;
    height: auto;
  }
  .cajaTexto {
    max-width: 60%;
    margin: 0 auto;
    text-align: left;
  }
  .imgCenter {
    text-align: center;
  }
  nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.125em;
  }
  nav ul li a:hover {
    background-color: #6BE0E2;
    transition: .4s;
    padding: 3px;
    text-decoration: none;
    color: black;
   }
   .linkPosition {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }
  .linksRedes {
    display: inline-flex;
    padding-right: 20px;
    position: absolute;
    top: -40px;
  }
  .linksRedes li {
    padding: 60px 5px;
  }
  .menuPrincipal {
    display: inline-block;
    justify-content: space-around;
    padding: 0 40px;
  }
  .espacioSubmenu{
    padding-top: 5px;
  }
  .submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    width: 100px;
    text-align: center;
  }
  .submenu li a {
    font-weight: bold;
    font-size: 0.875em;
  }
  nav ul li:hover .submenu {
    display: block;
  }
  .posicionNav {
    position: relative;
    top: -93px;
    margin-right: -300px;
  }
  main video {
    max-width: 100%;
    height: auto;
  }
  }


